@{
    ViewData["Title"] = "Edit Quote";
}

@model FinalExam.Models.Quote

<h1>Add your favorite quotes to our database! We love learning from others</h1>

<div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="QuoteID" />

        <div class="form-group">
            <label asp-for="Words">Quote:</label>
            <input asp-for="Words" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Author">Author:</label>
            <input asp-for="Author" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Date">Date:</label>
            <input asp-for="Date" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Subject">Subject:</label>
            <input asp-for="Subject" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Citation">Citation:</label>
            <input asp-for="Citation" class="form-control" />
        </div>

        <div class="float-end">
            <input class="btn btn-primary" type="submit" value="Save Quote" />
        </div>

    </form>
</div>
